<div class="container">
    <div class="card">
        <div class="card-header">
            Saldos
        </div>
        <div class="card-content">
            <br>
            <div class="row">
                <div class="col-md-12" style="text-align: center;">
                    <button type="button" class="btn btn-primary" (click)="habilitarCargaArchivos()">Actualizar saldos</button>
                </div>
            </div>
            <br>
            <ng-container *ngIf="cargarArchivos">
            <div class="row" style="margin-left: 5px;">
                <div class="col-md-8">
                    <input type="file" class="form-control">
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-default">Cargar</button>
                </div>
            </div>
            <br>
            </ng-container>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Registro de producción</th>
                        <th scope="col">Mineral</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Cantidad total</th>
                        <th scope="col">Unidad de medida</th>
                        <th scope="col">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">400841C9</th>
                        <td>Oro</td>
                        <td>15</td>
                        <td>30</td>
                        <td>gramos</td>
                        <td>12/03/2022</td>
                    </tr>
                    <tr>
                        <th scope="row">400841C9</th>
                        <td>Carbon metalúrgico</td>
                        <td>15</td>
                        <td>30</td>
                        <td>gramos</td>
                        <td>12/03/2022</td>
                    </tr>
                    <tr>
                        <th scope="row">400841C9</th>
                        <td>Plata</td>
                        <td>15</td>
                        <td>30</td>
                        <td>gramos</td>
                        <td>12/03/2022</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
</div>